@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$orange: hsl(26, 100%, 55%);
$pale-orange: hsl(25, 100%, 94%);
$dark-blue: hsl(220, 13%, 13%);
$dark-gray-blue: hsl(219, 9%, 45%);
$gray-blue: hsl(220, 14%, 75%);
$light-gray-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

.app {
  border: 1px solid red;
  margin-inline: 100px;
}

.navbar {
  border: 1px solid black;
  display: flex;
  align-items: center;

  .logo-container {
    width: 150px;
    margin-right: 20px;
  }

  .logo {
    width: 100%;
    
  }

  .navlinks {
    border: 1px solid blue;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    list-style: none;
    padding: 0;

    .navlinks--left,
    .navlinks--right {
      border: 1px solid orange;
      display: flex;
    }

    .navlinks--right {
      align-items: center;
    }

    .navlink * {
      text-decoration: none;
      padding-inline: 10px;
      color: $dark-gray-blue;
    }

    .cart {
      width: 20px;
    }

    .avatar {
      width: 50px;
    }
  }
}

.product-container {
  border: 1px solid green;
  display: flex;

  .images {
    border: 1px solid blue;
    width: 35%;
    padding: 60px 30px;

    img {
      width: 100%;
    }

    .main-img-container {
      img {
        border-radius: 3%;
      }
    }

    .thumbnail-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-block: 20px;

      .thumbnail {
        width: 20%;
        margin: 5px;
        border-radius: 10%;
      }
    }
    
    


  }

  .details {
    width: 50%;
  }
}



