@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$orange: hsl(26, 100%, 55%);
$pale-orange: hsl(25, 100%, 94%);
$dark-blue: hsl(220, 13%, 13%);
$dark-gray-blue: hsl(219, 9%, 45%);
$gray-blue: hsl(220, 14%, 75%);
$light-gray-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

button {
  cursor: pointer;
}

.orange-btn {
  color: $white;
  background-color: $orange;
  border: none;
  border-radius: 0.75vw;
  width: 25vw;
  height: 5vw;
  font-size: 1.4vw;
  font-weight: 700;
  letter-spacing: 0.05vw;

  &:hover {
    box-shadow: 1px 10px 25px -5px $orange;
    opacity: 60%;
  }
}

.app {
  border: 1px solid red;
  margin-inline: 200px;
}

.navbar {
  border: 1px solid black;
  display: flex;
  align-items: center;

  .logo-container {
    width: 150px;
    margin-right: 20px;
  }

  .logo {
    width: 100%;
    
  }

  .navlinks {
    border: 1px solid blue;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    list-style: none;
    padding: 0;

    .navlinks--left,
    .navlinks--right {
      border: 1px solid orange;
      display: flex;
    }

    .navlinks--left .nav-active {
      border-bottom: 3px solid $orange;
      padding-bottom: 20px;
    }

    .navlinks--right {
      align-items: center;
    }

    .navlink * {
      text-decoration: none;
      margin-inline: 10px;
      color: $dark-gray-blue;
    }

    .cart {
      width: 20px;
    }

    .avatar {
      border-radius: 50%;
      padding: 0;
      margin: 5px;
      width: 40%;
      border: 2px solid transparent;

      &:hover {
        border-color: $orange;
      }
    }
  }
}

.products-container {
  border: 1px solid green;

  .product-container {
    border: 1px solid pink;
    display: flex;
    margin: 2vw;
  }

  .images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid blue;
    width: 50%;

    img {
      width: 100%;

      &:hover {
        cursor: pointer;
      }
    }

    .main-img-container {
      img {
        border-radius: 3%;
      }
    }

    .thumbnail-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 1.5vw;

      img {
        width: 20%;
        margin: 2%;
        border-radius: 10%;

        &:first-child {
        margin-left: 0;
        }

        &:last-child {
        margin-right: 0;
        }

        &.orange-border {
          border: 2px solid $orange;
          opacity: 30%;
        }
      }
    }
  }

  .modal-container {
    border: 1px solid yellow;
    position: fixed;
    inset: 0;
    background-color: rgba(black, 80%);
    
    .modal {
      border: 1px solid green;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: absolute;
      width: 40%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  
      .images {
        width: 100%;
      }
    }
  }

  .details {
    width: 60%;
    padding-block: 60px;
    padding-inline: 50px 0;

    .brand {
      color: $orange;
      font-weight: 700;
      font-size: 1vw;
      letter-spacing: 1px;
    }

    .name {
      color: $black;
      font-size: 3vw;
      margin-block: 0 2.5vw;
    }

    .description {
      color: $dark-gray-blue;
      font-size: 1.25vw;
      line-height: 2vw;
      letter-spacing: 0.02vw;
    }

    .price-discount-container {
      display: flex;
      align-items: center;
      margin-top: 2vw;

      .discounted-price {
        color: $black;
        font-size: 1.75vw;
        font-weight: 700;
        letter-spacing: 0.15vw;
      }
  
      .discount {
        color: $orange;
        background-color: $pale-orange;
        font-size: 1.1vw;
        font-weight: 700;
        padding: 2px 5px;
        margin-left: 1vw;
        border-radius: 10%;
      }
    }

    .price {
      color: $gray-blue;
      font-size: 1.25vw;
      font-weight: 700;
      text-decoration: line-through;
      margin-block: 0.75vw 2vw;
    }

    .quantity-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 40%;
      height: 5vw;
      padding-inline: 1vw;
      margin-right: 5%;
      background-color: $light-gray-blue;
      border-radius: 0.5vw;

      input {
        width: 40%;
      }
      
      * {
        background: transparent;
        border: none;
        font-size: 1.5vw;
        font-weight: 700;
      }

      img {
        width: 1.25vw;
      }
    }

    .add-quantity-container {
      display:flex;
      justify-content: space-between;
      margin-top: 4vw;

      .cart-icon {
        color: $white;
        width: 7%;
        margin-right: 6%;
      }
    }
  }
}

.cart-item {
  display: flex;
  align-items: center;

  img.cart-size {
    width: 30px;
    height: 30px;
  }
}






